/**
 * Milkpopup of milkui-component
 * @author caiyongmin
 *
 * Copyright 2017-2019, All rights reserved.
 */

$icon-size-xs: 36px;
$icon-size-md: 44px;
$fill-base: #fff;
$brand-primary: #00d8ff;
$bar-height: 90px;
$fill-body: #f5f5f9;
$font-size-display-sm: 36px;
$font-size-caption: 32px;
$h-spacing-lg: 30px;
$h-spacing-md: 16px;
$option-height: 84px;
$border-color-base: #ddd;

body {
  background: $fill-body;
}

.demo__panel {
  padding: 0 25px;
}

.demo__title {
  margin-top: 20px;
  font-size: 60px;
}

.demo__description {
  margin-top: 15px;
  font-size: 26px;
  color: #3b3b3b;
}

.demo__item {
  margin-top: 20px;
}

.demo__bar {
  display: flex;
  height: $bar-height;
  background: $fill-base;
}

.demo__bar__header, .demo__bar__body, .demo__bar__footer {
  display: flex;
  flex: 1;
}

.demo__bar__header, .demo__bar__footer {
  .milkui-popup__trigger {
    padding: 0 $h-spacing-lg;
  }
}

.demo__bar__body {
  align-items: center;
  justify-content: center;
  font-size: $font-size-display-sm;
}

.demo__bar__footer {
  align-items: center;
  font-size: $font-size-caption;
  justify-content: flex-end;
}

.demo__icon {
  width: $icon-size-md;
  height: $icon-size-md;
}

.demo__bar__icon {
  fill: $brand-primary;
}

.demo__popup-content {
  .item {
    display: flex;
    align-items: center;
    height: $option-height;
    margin: 0 $h-spacing-md;
    border-top: 1px solid $border-color-base;
    &:first-child {
      border-top-width: 0;
    }
  }
  .item__icon {
    margin-right: $h-spacing-md;
  }
}
